version: "3.3"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - postgres
    restart: always

  postgres:
    image: "postgres:alpine"
    ports:
      - "5433:5432"
    volumes:
      - ce-postgres-data:/var/lib/postgresql/data
    env_file:
      - .env
    restart: always

volumes:
  ce-postgres-data:

